<footer>


    <div class="footer-content">
      <h3>Uttarakhand Village and City Sightseeing</h3>
      <p>A mystical land of mountains and mythologies, exquisite landscapes and exhilarating adventure, and wellness and yoga, Uttarakhand has something to offer every traveller. Hope this website guides you through this mystical land! </p>
      <ul class="socialmedia">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p> Uttarakhand Tourism. Designed by <span>@Harsini</span></p>
    </div>
    </footer>
    </html>