<div class="Details Dark" id="Agoda">

    <div class="row">
      <h2 class="spot-titles"><b>AGODA</b></h2>
        <div class="col-xl-8 col-md-12 spot-content">
          <h3>
            Perched at an altitude of 2250 mts and surrounded by majestic Himalayas, Agoda Village is a beautiful hamlet which lies en route the emerald lake of Dodital. 
            Agoda Village is the first village that you’ll come across on Dodital Trek and an ideal halting point for people who wish to explore this scenic village and engage with the locals.
           
        </h3><br>
        <h3><b>Famous places to be visited :</b></h3>
        <h3>
        <ul class='a'>
                <li>Sangam Chatti</li>
                <li>Village Hills Trekking</li>
                </ul>
        </h3><br>
        <h3><b>Famous local things :</b></h3>
        <h3>
        <ul class = 'a'>
            <li>Woolen crafts </li>
            <li>Embroidered clothes</li>
            <li>Nature made item or cosmetics</li>
            <li>Chocolate factories  </li>
            <li>Sweet made of palm sugar</li>
        </ul>
        </h3>

           
        </div>

        <div class="col-xl-4 col-md-12 carousel-spots">
              <div id="agoda-carousel" class="carousel slide" data-bs-ride="false" >
                <div class="carousel-inner">
                  <div class="carousel-item active" >
                    <img class="d-block w-100" src="images/TouristSpots/Agoda1.jpg" alt="First slide" height="350" width="350">
                    <h4>Agoda Village</h4>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="images/TouristSpots/Agoda2.jpg" alt="Second slide" height="350" width="350">
                    <h4>Agoda Village</h4>
                  </div>
    
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#agoda-carousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#agoda-carousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

        </div>
    </div>

</div>

<!-- White -->
<div class="Details White" id="Barsu">

  <div class="row">
    <h2 class="spot-titles"><b>BARSU</b></h2>
    <div class="col-xl-4 col-md-12 carousel-spots">
      <div id="Barsu-carousel" class="carousel slide" data-bs-ride="false" >
        <div class="carousel-inner">
          <div class="carousel-item active" >
            <img class="d-block w-100" src="images/TouristSpots/Barsu1.jpg" alt="First slide" height="350" width="350">
            <h4>Barsu Village</h4>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="images/TouristSpots/Barsu2.jpg" alt="Second slide" height="350" width="350">
            <h4>Barsu Village</h4>
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#Barsu-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#Barsu-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

</div>

      <div class="col-xl-8 col-md-12 spot-content">
        <h3>
          Barsu village is situated in Uttarkashi district amidst scenic surroundings. It is the starting point of the trek to Dyara Bugyal.Its a small and scenic hamlet situated on road side in Uttarkashi district known for the base camp of Dayara Bugyal.
           
        </h3><br>
        <h3><b>Famous places to be visited :</b></h3>
        <h3>
        <ul class='a'>
                <li>Dayara Bugyal Winter Trek</li>
                <li>Gidara Bugyal - A Hidden Trek</li>
                <li>Gangnani</li>
                <li>Nag Devta Temple Barsu</li>
                </ul>
        </h3><br>
        <h3><b>Famous local things :</b></h3>
        <h3>
        <ul class = 'a'>
          <li>Nature made item or cosmetics </li>
          <li>Chocolate factories</li>
          <li>Sweet made of palm sugar</li>
        </ul>
        </h3>

          
      </div>

   
  </div>

</div>


<!-- 2nd -->
<div class="Details Dark" id="Harsil">

  <div class="row">
    <h2 class="spot-titles"><b>HARSIL</b></h2>
      <div class="col-xl-8 col-md-12 spot-content">
        <h3>
          Harsil is an unspoiled and hidden jewel of Uttarakhand state offering ample scope for people seeking peace and serenity in the lap of Himalayas. It is situated on the banks of Bhagirathi River at an elevation of 2620 mts above sea level. This quaint hamlet has become popular in recent years among travel enthusiasts.
         
      </h3><br>
      <h3><b>Famous places to be visited :</b></h3>
      <h3>
      <ul class='a'>
        <li>Dharali : A picturesque Hamlet</li>
        <li>Sattal Harsil: A small clusters of lakes</li>
        <li>Wilson Cottage</li>
        <li>Gangnnai:A small town.</li>
        <li>Murkhawas Village</li>
      </ul>
      </h3><br>
      <h3><b>Famous local things :</b></h3>
      <h3>
      <ul class = 'a'>
        <li>Angora wool  </li>
        <li>sheep wool blankets</li>
        <li>Woolen Shawls And sweaters</li>
        <li>Homemade Eatables</li>
        <li>Jewellery And Accessories</li>
      </ul>
      </h3>

         
      </div>

      <div class="col-xl-4 col-md-12 carousel-spots">
            <div id="Harsil-carousel" class="carousel slide" data-bs-ride="false" >
              <div class="carousel-inner">
                <div class="carousel-item active" >
                  <img class="d-block w-100" src="images/TouristSpots/Harsil1.jpg" alt="First slide" height="350" width="350">
                  <h4>Harsil Village</h4>
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/TouristSpots/Harsil2.jpg" alt="Second slide" height="350" width="350">
                  <h4>Harsil Village</h4>
                </div>
  
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#Harsil-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#Harsil-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

      </div>
  </div>

</div>

<!-- White -->
<div class="Details White" id="Chamoli">

<div class="row">
  <h2 class="spot-titles"><b>CHAMOLI</b></h2>
  <div class="col-xl-4 col-md-12 carousel-spots">
    <div id="Chamoli-carousel" class="carousel slide" data-bs-ride="false" >
      <div class="carousel-inner">
        <div class="carousel-item active" >
          <img class="d-block w-100" src="images/TouristSpots/Chamoli1.jpg" alt="First slide" height="350" width="350">
          <h4>Chamoli Village</h4>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="images/TouristSpots/Chamoli2.jpg" alt="Second slide" height="350" width="350">
          <h4>Chamoli Village</h4>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#Chamoli-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#Chamoli-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

</div>

    <div class="col-xl-8 col-md-12 spot-content">
      <h3>
        Located in the Central Himalayan region and surrounded by pristine greens, undulating valleys, stunning vistas, breathtaking landforms and various varieties if flora - Chamoli is the birthplace of the Chipko Movement and attracts nature lovers as much as it beckons the religiously bent. History has it that Chamoli was carved out of the former Garhwal district in 1960.
When in Chamoli, it is imperative to try local and traditional cuisine. Predominantly grain and cereal-based, the dishes are simple and nutritious, incorporate fresh local produce. 
Chamoli is a shopper’s delight and boasts shops that offer several local products like pickles and jams, decorative and utility objects, handloom products and warm clothes made of Angora wool, which is derived from the Angora rabbit that is found here. 
      
      </h3><br>
      <h3><b>Famous places to be visited :</b></h3>
      <h3>
      <ul class='a'>
        <li>Tungnath Temple</li>
        <li>Hemkund Sahib</li>
        <li>Roopkund Lake</li>
        <li>Joshimath</li>
        <li>Gopeshwar Mahadev Temple</li>
              </ul>
      </h3><br>
      <h3><b>Famous local things :</b></h3>
      <h3>
      <ul class = 'a'>
        <li>Khadi clothes</li>
        <li> Wooden toys and stamps</li>
        <li>Gharwal Wools</li>
      </ul>
      </h3>

        
    </div>

 
</div>

</div>


<!-- 3rd -->
<div class="Details Dark" id="Dehradun">

  <div class="row">
    <h2 class="spot-titles"><b>DEHRADUN</b></h2>
      <div class="col-xl-8 col-md-12 spot-content">
        <h3>
          Fascinating history and intriguing mythology meet at the crossroads of this beautiful hill-station, one of the most popular in the country. Just 240 km from Delhi, nestled in the rolling Doon Valley and at the foothills of the Himalayas, Dehradun is surrounded by high mountains and lush Sal forests. 
    Known for its pleasant year-round weather and scenic surroundings, the city is a gateway to several popular hill-stations like Mussoorie and pilgrimage sites like Haridwar and Rishikesh. 

   
         
      </h3><br>
      <h3><b>Famous places to be visited :</b></h3>
      <h3>
      <ul class='a'>
        <li>Robber’s Cave</li>
        <li>Sahastradhara</li>
        <li>Tapkeshwar Temple</li>
        <li>Malsi Deer Park</li>
        <li>Tapovan Temple</li>
              </ul>
      </h3><br>
      <h3><b>Famous local things :</b></h3>
      <h3>
      <ul class = 'a'>
        <li>Handmaid bags</li>
        <li>Woollen Traditional clothes</li>
        <li>Khadi clothes</li>
      </ul>
      </h3>

         
      </div>

      <div class="col-xl-4 col-md-12 carousel-spots">
            <div id="Dehradun-carousel" class="carousel slide" data-bs-ride="false" >
              <div class="carousel-inner">
                <div class="carousel-item active" >
                  <img class="d-block w-100" src="images/TouristSpots/Dehradun1.jpg" alt="First slide" height="350" width="350">
                  <h4>Dehradun Village</h4>
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/TouristSpots/Dehradun2.jpg" alt="Second slide" height="350" width="350">
                  <h4>Dehradun Village</h4>
                </div>
  
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#Dehradun-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#Dehradun-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

      </div>
  </div>

</div>

<!-- White -->
<div class="Details White" id="Haldwani">

<div class="row">
  <h2 class="spot-titles"><b>HALDWANI</b></h2>
  <div class="col-xl-4 col-md-12 carousel-spots">
    <div id="Haldwani-carousel" class="carousel slide" data-bs-ride="false" >
      <div class="carousel-inner">
        <div class="carousel-item active" >
          <img class="d-block w-100" src="images/TouristSpots/Haldwani1.jpg" alt="First slide" height="350" width="350">
          <h4>Haldwani Village</h4>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="images/TouristSpots/Haldwani2.jpg" alt="Second slide" height="350" width="350">
          <h4>Haldwani Village</h4>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#Haldwani-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#Haldwani-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

</div>

    <div class="col-xl-8 col-md-12 spot-content">
      <h3>
        Also Known as the Gateway to Kumaon, Haldwani in Uttarakhand is known for its scenic views and pleasant climate. Haldwani stands for the forests of Haldu trees as the region once had an abundance of Haldu trees (also known as Kadamb).
      </h3><br>
      <h3><b>Famous places to be visited :</b></h3>
      <h3>
      <ul class='a'>
        <li>Kathgodam</li>
        <li> Gaula Dam</li>
        <li>Shitla Devi Temple</li>
        <li>Jeolikot</li>
        <li> Naukuchiatal</li>
        <li>Hanuman Garhi Temple</li>
        </ul>
              </ul>
      </h3><br>
      <h3><b>Famous local things :</b></h3>
      <h3>
      <ul class = 'a'>
        <li>Pine wood crafts</li>
        <li>Woollen shawls and sweaters</li>
        <li>Homemade eatables</li>
      </ul>
      </h3>

        
    </div>

 
</div>

</div>


<!-- 4th -->
<div class="Details Dark" id="Pantnagar">

  <div class="row">
    <h2 class="spot-titles"><b>PANTNAGAR</b></h2>
      <div class="col-xl-8 col-md-12 spot-content">
        <h3>
          Pantnagar is a famous industrial area and home to G.B. Pant University of Agriculture & Technology, one of the best agriculture campuses in India.
    
         
      </h3><br>
      <h3><b>Famous places to be visited :</b></h3>
      <h3>
      <ul class='a'>
        <li>Kali Chaur</li>
        <li> Shani Mandir</li>
        <li>Shitla Devi</li>
        <li>Asht Bujha Lakshmi Temple</li>
        <li>Cheena Peak</li>
        <li>Garjia Devi Temple </li>
              </ul>
      </h3><br>
      <h3><b>Famous local things :</b></h3>
      <h3>
      <ul class = 'a'>
        <li>Woolen Shawls And sweaters</li>
        <li>Homemade Eatables</li>
        <li>Jewellery And Accessories</li>
        <li>Bisi Bele Bath</li>
        <li>Jolada Roti</li>

      </ul>
      </h3>

         
      </div>

      <div class="col-xl-4 col-md-12 carousel-spots">
            <div id="Pantnagar-carousel" class="carousel slide" data-bs-ride="false" >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="images/TouristSpots/Pantnagar1.jpg" alt="First slide" height="350" width="350">
                  <h4>Pantnagar Village</h4>
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="images/TouristSpots/Pantnagar2.jpg" alt="Second slide" height="350" width="350">
                  <h4>Pantnagar Village</h4>
                </div>
  
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#Pantnagar-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#Pantnagar-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

      </div>
  </div>

</div>

<!-- White -->
<div class="Details White" id="Rishikesh">

<div class="row">
  <h2 class="spot-titles"><b>RISHIKESH</b></h2>
  <div class="col-xl-4 col-md-12 carousel-spots">
    <div id="Rishikesh-carousel" class="carousel slide" data-bs-ride="false" >
      <div class="carousel-inner">
        <div class="carousel-item active" >
          <img class="d-block w-100" src="images/TouristSpots/Rishikesh1.jpg" alt="First slide" height="350" width="350">
          <h4>Rishikesh Village</h4>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="images/TouristSpots/Rishikesh2.jpg" alt="Second slide" height="350" width="350">
          <h4>Rishikesh Village</h4>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#Rishikesh-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#Rishikesh-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

</div>

    <div class="col-xl-8 col-md-12 spot-content">
      <h3>
        Known as 'World capital of Yoga' and meditation.Holy town with pleasant weather throughout the year.Most loved place for all Beatles' fan across the world.Unmatched white water rafting and other adventure sports.Gateway to the Garhwal Himalayas.

         
      </h3><br>
      <h3><b>Famous places to be visited :</b></h3>
      <h3>
      <ul class='a'>
        <li>Lakshman Jhula Bridge</li>
        <li> Kunjapuri Devi Temple</li>
        <li>Sivananda Ashram</li>
        <li>Vashishta Gufa</li>
        <li> Ram Jhula</li>
              </ul>
      </h3><br>
      <h3><b>Famous local things :</b></h3>
      <h3>
      <ul class = 'a'>
        <li> Ganesha Singing Bowl Centre</li>
        <li>Khadi clothes</li>
        <li>Embroidered bags and pouches</li>
        <li> Gharwal Wools</li>
      </ul>
      </h3>    
    </div>
</div>

</div>





